


*{
    margin: 0;
    padding: 0;
    font-family: roboto, montserrat, sans-serif;
    font-weight: bolder;
}

body{
    background-color: #8c3535;
    color: #fff;
    background: -o-radial-gradient(circle, rgba(3,2,30,1) 0%, rgba(10,10,16,0.6486927534685749) 0%, rgba(10,16,17,1) 100%), url('../images/bg.jpg');
    background: radial-gradient(circle, rgba(3,2,30,1) 0%, rgba(10,10,16,0.6486927534685749) 0%, rgba(10,16,17,1) 100%), url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    margin: 2em 3em 3em 3em;
}


img{
    border-radius: 6px;
}

h1{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

#img-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 1em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center
}

#img-div img{
    width: 70%;
    height: auto
}

.img-description{
    text-align: center;
}

#img-caption{
    padding: 1em 8em 3em 8em;
    text-align: justify;
}

section{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 6em;
    margin-left: 6em; 
    padding: 1em;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(8,8,10,0.60);
}

.texto{
    width: 55%;
    margin-right: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#img-primera{
    width: 43%;
}

#img-primera img{
    width: 100%;
}

.botones{
    margin: 3em 5em 4em 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

.btn, .btn{
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    font-size: 2em;
    font-weight: bold;
    padding: 0.25em;
    border: 1px solid #fefefe;
    border-radius: 5px;
}

.btn:hover, .btn:hover{
    background-color: #636363;
}

.tributo-link{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

a{
    text-decoration: none;
    color: #fff;
}


@media (max-width: 1250px){

    section{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 1em;
    }
        .texto{
        margin: 0 3em 1em 3em;
        width: 100%;
    }

    #img-primera{
        width: 85%;
    }

    .btn, .btn{
        font-size: 1.8em;
    } 
 }

@media (max-width:870px){

    #img-caption{
        padding: 1em 4em 3em 4em;
    }

    section{
        margin-right: 0.5em;
        margin-left: 0.5em; 
        padding: 0.5em;
    }

    #img-primera{
        width: 100%;
    }

}  

@media (max-width: 614px){

    #img-div img{
        width: 100%;
    }

    #img-caption{
        padding: 1em 2em 3em 2em;
    }
    
    .btn, .btn{
        font-size: 1.2em;
    } 

    .botones{
        margin: 2em;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    
    }

}

@media (max-width: 420px){
    h1{
        font-size: 2em;
    }

  
}